@font-face {
    font-family: 'Albula Pro Normal Bold';
    src: url("AlbulaPro-NormalBold.otf");
}

@font-face {
    font-family: 'Albula Pro Normal SemiBold';
    src: url("AlbulaPro-NormalSemiBold.otf");
}

.bg {
    -fx-background-image: url("../images/assets/edit-bg.png");
}

.label{
    -fx-font-family: 'Albula Pro Normal Bold';
}

.label-semi{
    -fx-font-family: 'Albula Pro Normal SemiBold';
}

.edit-button {
    -fx-background-color: rgb(19, 189, 220);
    -fx-position: absolute;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: 'Albula Pro Normal Bold';
    -fx-font-size: 12;
}

.table-view,
.table-view .table-cell {
    -fx-background-color: transparent;
    -fx-font-family: 'Albula Pro Normal SemiBold';
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-text-fill: #c5caea;
    -fx-alignment: center;
    -fx-stroke-width: 0;
}

.table-view .column-header {
    -fx-background-color: #53566A;
    -fx-text-fill: #c5caea;
}

/* fix top right corner white */
.table-view .column-header-background {
    -fx-background-color: #53566A;
}

.table-view .column-header .label {
    -fx-background-color: #53566A;
    -fx-text-fill: #c5caea;
    -fx-font-family: 'Albula Pro Normal SemiBold';
}

.table-view .corner {
    -fx-background-color: #2e303f;
    -fx-border-color: #2e303f;
}

.table-view .label {
    -fx-text-fill: #c5caea;
}

.table-row-cell{
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #484a60 !important;
}
.table-view .table-row-cell {
    -fx-background-color: #2e303f;
}

/* เส้นเล็ก ๆ รอบ ๆ increment decrement button */
.scroll-bar:horizontal,
.scroll-bar:vertical{
    -fx-background-color: #2e303f;
}

.increment-button, .decrement-button {
    -fx-background-color: #2e303f;
    -fx-border-color: #2e303f;
    -fx-padding: 5;
}


.increment-arrow, .decrement-arrow {
    -fx-shape: null;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: #2e303f;
    -fx-border-color: #2e303f;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #3c4152;
    -fx-background-radius: 2px;
}