@font-face {
    font-family: 'Albula Pro Normal Bold';
    src: url("AlbulaPro-NormalBold.otf");
}

@font-face {
    font-family: 'Albula Pro Normal SemiBold';
    src: url("AlbulaPro-NormalSemiBold.otf");
}

.bg {
    -fx-background-image: url("../images/assets/edit-bg.png");
}

.label{
    -fx-font-family: 'Albula Pro Normal Bold';
}

.label-semi{
    -fx-font-family: 'Albula Pro Normal SemiBold';
}

.edit-button {
    -fx-background-color: rgb(19, 189, 220);
    -fx-position: absolute;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: 'Albula Pro Normal Bold';
    -fx-font-size: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.button-gray {
    -fx-background-color: rgb(83, 86, 106);
    -fx-position: absolute;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: 'Albula Pro Normal Bold';
    -fx-font-size: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.text-field {
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: #282a37;
    -fx-position: absolute;
    -fx-prompt-text-fill: #767990;
    -fx-text-fill: #767990;
    -fx-font-family: 'Albula Pro Normal Bold';
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.list-view{
    -fx-background-color: #282a37;
    -fx-font-family: 'Albula Pro Normal SemiBold';
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-text-fill: #c5caea;
    -fx-alignment: center;
    -fx-stroke-width: 0;
    -fx-selection-bar: #484a60;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #3c4152;
    -fx-background-radius: 2px;
}
.scroll-pane .corner {
    -fx-background-color: rgb(40, 42, 55);
}
.scroll-pane {
    -fx-background-color: rgb(40, 42, 55);
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.list-view .list-cell {
    -fx-background-color: #373a4b;
    -fx-text-fill: #c5caea;
}

.list-view .list-cell:selected {
    -fx-background-color: #45485d;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


